@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide the native tabs. */
#TabsToolbar {
    visibility: collapse;
}

/* Hide the native tabs when menu is enabled. */
#TabsToolbar-customization-target {
    visibility: collapse;
}

/* Hide the sidebar header. */
#sidebar-header {
    visibility: collapse;
}

/* Hide the line between sidebar and page. */
#sidebar-splitter {
    display: none;
}

/* Add a 1px border between sidebar and page. */
#sidebar-box {
    border-right: 1px solid grey;
}
